<div class="container-fluid">
    <div class="row justify-content-center pt-4">
        <div class="col-4 text-center">
            <h1>General information</h1>
        </div>
    </div>

    <div class="row justify-content-start">
        <div class="col-4">
            <img src=" basic-info.jpg" alt="IT conference" class="img-fluid shadow-1-strong rounded mb-4">
        </div>
        <div class="col-8">
            <h2>Full Stack Conference 2023: A Two-Day Deep Dive into Front-End and Back-End Technologies</h2>
            <ul>
                <li><b>Event:</b> Full Stack Conference 2023</li>
                <li><b>Dates:</b> October 15-16, 2023</li>
                <li><b>Location:</b> Belgrade International Conference Center, 45 Vojvode Stepe Street, Belgrade, Serbia
                </li>
            </ul>
            <p>Join us for an exciting two-day event in the vibrant city of Belgrade, where industry leaders and tech
                enthusiasts will converge to explore the latest trends and advancements in both front-end and back-end
                development. This conference promises to deliver a comprehensive deep dive into the technologies that
                power today's web applications.</p>
            <p>The Full Stack Conference 2023 will be held at the Belgrade International Conference Center, located at
                45 Vojvode Stepe Street, Belgrade. This state-of-the-art venue offers a range of amenities, including
                spacious conference halls, breakout rooms, and networking areas, ensuring a comfortable and productive
                experience for all attendees.</p>
            <p>Whether you're a front-end enthusiast looking to refine your skills or a back-end developer eager to stay
                ahead of industry trends, the Full Stack Conference 2023 offers valuable learning opportunities and
                networking experiences. Don't miss out on this chance to connect with experts, explore new technologies,
                and gain practical knowledge that will enhance your development capabilities.</p>
        </div>
    </div>
</div>
<div class="divider div-transparent"></div>