form {
  margin-top: 20px;
}
mat-form-field {
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
button {
  display: block;
  margin: auto;
}
.events-section {
  margin: 20px 0;
}

.events-margin {
  margin-right: 15px;
}
.error-message {
  color: red;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 0;
  display: block;
}
