<app-header />
<div class="container stepper justify-content-center">
    <h1>Change registration</h1>
    <mat-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="form" [editable]="editableStep1">
            <div class="container">
                <form [formGroup]="form" (ngSubmit)="onSubmit(stepper)">
                    <ng-template matStepLabel>Authenticate</ng-template>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="Email" type="email" formControlName="email">
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>Access token</mat-label>
                        <input matInput placeholder="Access token" type="input" formControlName="accessToken">
                    </mat-form-field>


                    <div>

                        <button mat-flat-button color="primary">Next</button>
                    </div>
                </form>

                @if(emailIsInvalid){
                <p class="error-message">Please enter valid email format.</p>
                }

                @if(accessTokenIsInvalid){
                <p class="error-message">Access token is required.</p>
                }
                @if(isError){
                <p class="error-message">{{errorMessage}}</p>
                }
            </div>
        </mat-step>

        <mat-step [editable]="editableStep1">
            <div class="container">

                <form [formGroup]="changeRegForm" (ngSubmit)="onChangeReg(stepper)">
                    <ng-template matStepLabel>Change event selection</ng-template>
                    <section class="events-section" formArrayName="events">
                        <h2>Events</h2>
                        @for (event of events; track event._id; let idx = $index) {
                        <mat-checkbox class="events-margin" [value]="event._id" [formControlName]="idx">{{ event.name
                            }}</mat-checkbox>
                        }
                    </section>
                    <div>
                        <button mat-flat-button color="primary">Next</button>
                    </div>
                </form>
                @if(isError){
                <p class="error-message">{{errorMessage}}</p>
                }
            </div>
        </mat-step>

        <mat-step>
            <div class="container">
                <ng-template matStepLabel>Done</ng-template>
                <h1>Action successful!</h1>
                <i mat-card-avatar class="material-icons">check_circle</i>
                <div>
                    <button mat-button mat-flat-button color="primary" (click)="goHome()">Done</button>
                </div>
            </div>
        </mat-step>
    </mat-stepper>
</div>