<mat-dialog-content class="justify-content-center">
    <h2 mat-dialog-title>Registration successful!</h2>
    <div class="container">
        <div class="row justify-content-center">
            <p>You successfully register for event.</p>
            <p>For other actions you want to preform, you must use access token
                that is
                sent
                to your email address.</p>
        </div>
        <div class="row">

            <i mat-card-avatar class="material-icons">check_circle</i>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions class="justify-content-center">
    <button mat-button mat-dialog-close (click)="goHome()">Close</button>
</mat-dialog-actions>